<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//ProjetoEmpresa/ProjetoEmpresa Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration">
<hibernate-configuration>
    <session-factory>
        <!-- Configurações do PostgreSQL -->
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>

        <!-- Configurações do Biblioteca -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>

        <!-- Mapeamento de Classe -->

        <mapping class="Biblioteca.Model.Livro"/>
        <mapping class="Biblioteca.Model.Autor"/>
        <mapping class="Biblioteca.Model.LivroAutor"/>
        <mapping class="Biblioteca.Model.Categoria"/>
        <mapping class="Biblioteca.Model.Editora"/>
        <mapping class="Biblioteca.Model.Livro"/>

    </session-factory>
</hibernate-configuration>